<header layout:fragment="header" class="bg-gray-800 flex justify-between items-center text-gray-200 px-4">
    <a th:href="@{/}" class="nav-brand text-2xl font-bold">Ứng Dụng Rạp Chiếu Phim</a>
    <nav>
        <ul class="flex justify-center items-center">
            <li>
                <a class="nav-link inline-block p-4 hover:bg-gray-700" th:href="@{/}">Trang chủ</a>
            </li>
            <li>
                <a class="nav-link inline-block p-4 hover:bg-gray-700" th:href="@{/showtime}">Lịch chiếu</a>
            </li>
            <li class="relative group">
                <a class="nav-link inline-block p-4 hover:bg-gray-700 rounded-md" th:href="@{/}">Phim</a>
                
                <!-- Sub-menu Grid Layout -->
                <ul class="absolute left-1/2 transform -translate-x-1/2 top-full mt-0 hidden group-hover:grid bg-gray-700 text-gray-200 py-2 shadow-lg w-72 grid grid-cols-4 gap-2 text-center">
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/action}">Hành Động</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/psychology-18}">Tâm Lý 18+</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/animation}">Hoạt Hình</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/war}">Chiến Tranh</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/romance}">Lãng Mạn</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/adventure}">Phiêu Lưu</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/sentimental}">Tình Cảm</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/comedy}">Hài Hước</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/fiction}">Viễn Tưởng</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/knight-errant}">Kiếm Hiệp</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/horror}">Kinh Dị</a></li>
                    <li><a class="block px-4 py-2 hover:bg-gray-600 rounded-md" th:href="@{/movietype/genre/music}">Âm Nhạc</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-link inline-block p-4 hover:bg-gray-700" th:href="@{/manage/tickets}" 
                   sec:authorize="hasRole('ADMIN') or hasRole('EMPLOYEE')">Quản lý</a>
            </li>
            <li>
                <a class="nav-link inline-block p-4 hover:bg-gray-700" th:href="@{/manager/users/edit}"
                    sec:authorize="hasRole('CUSTOMER')">Dịch vụ người dùng</a>
            </li>
            <li>
                <a class="nav-link inline-block p-4 hover:bg-gray-700" th:href="@{/about}">Giới thiệu</a>
            </li>
            <li>
                <a class="nav-link inline-block p-4 hover:bg-gray-700" th:href="@{/contact}">Liên hệ</a>
            </li>
        </ul>
    </nav>
    <div class="profile-menu">
        <div class="anonymous" sec:authorize="isAnonymous()">
            <a class="nav-link inline-block p-4 hover:bg-gray-700" th:href="@{/auth/login}">Đăng nhập</a>
            <a class="nav-link inline-block p-4 hover:bg-gray-700" th:href="@{/auth/register}">Đăng ký</a>
        </div>
        <div class="authenticated" sec:authorize="isAuthenticated()">
            <span sec:authorize="hasRole('CUSTOMER')">
                <a>
                    Xin chào, <span th:text="${#authentication.principal.custommername}"></span>
                </a>
            </span>
            <span sec:authorize="!hasRole('CUSTOMER')">
                Xin chào, <span th:text="${#authentication.principal.custommername}"></span>
            </span>
            <a th:href="@{/logout}" class="nav-link inline-block p-4 hover:bg-gray-700">Đăng xuất</a>
        </div>
    </div>
</header>
